
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.anticon {
  font-size: 24px;
  color: #000;
  transition: color 0.3s;
  padding: 0 20px;
  width: 40px;
  height: 40px;
}

.anticon:hover {
  color: red;
}

.ant-typography-title {
  color: #888;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}
