.footer-social-icons {
    margin-bottom: 10px;
    display: flex;
    margin-top: 330px;
    margin-right: 1143px;
  }
  
  .footer-social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    color: white !important;
    transition: color 0.3s ease;
  }
  
  .footer-social-icons a:hover {
    color: red !important;
  }
  