.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.header-2 {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-2 a{
  font-size: 24px;
  color: #000000;
  margin: 0 2%;
}
.header-2 a:hover {
  font-size: 24px;
  color: red;
}
